{% extends 'app/base.html' %}
{% load static %}
{% block title %}Wishlist{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        {% if wishlisted_products %}
          {% for prod in wishlisted_products %}
            <div class="col-sm-4 text-center mb-4 hover-shadow">
              <a href="{% url 'product-detail' prod.id %}" class="btn">
                <div>
                  <img src="{{ prod.product_image.url }}" width="230" height="200" alt="{{ prod.title }}">
                  <div class="fw-bold">{{ prod.title }}</div>
                  <div class="fw-bold text-danger">
                    Dt. {{ prod.discounted_price }}/-
                    <small class="fw-light text-decoration-line-through">
                      {{ prod.selling_price }}
                    </small>
                  </div>
                </div>
              </a>
              <!-- Wishlist Button -->
              <form action="{% url 'minus-wishlist' prod.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger shadow px-5 py-2 mt-2">
                  <i class="fas fa-heart fa-lg"></i> Remove from Wishlist
                </button>
              </form>
            </div>
          {% endfor %}
        {% else %}
          <p>No products in your wishlist.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock main-content %}
